<ion-view view-title="Dashboard" >
  <ion-content scroll="false" style="z-index: 1000; height: 80px; background-color: lightgrey; box-shadow: 0px 0px 5px 7px">
    <button class="button button-block button-positive"  ui-sref="app.addgroup">
      Add new Group
    </button>
  </ion-content>

  <ion-content style="padding-top: 100px; z-index: 1" ng-controller="homeController as vm">
    <div class="card" ng-repeat="entry in vm.igpGroups" >

        <div class="item item-divider" style="padding: 0">
          <div class="row" style="padding: 0">
            <div class="col col-50">
              <a  href="#/app/home/groupappointment/{{entry.id}}" style="text-decoration: none">
                {{ entry.name }}
              </a>
            </div>
            <div class="col col-50">
              <button class="button button-stable" ng-click="vm.leaveGroup({{entry.id}})">
                Leave Group
              </button>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          {{ entry.description }}
        </div>
    </div>
  </ion-content>
</ion-view>

