<ion-view view-title="Group">
  <ion-content scroll="false" style="z-index: 1000; height: 80px; background-color: lightgrey; box-shadow: 0px 0px 5px 7px" ng-controller="InitGroupCtrl">
    <button class="button button-block button-positive"  ui-sref="app.addAppointment">
      Add new Appointment
    </button>
  </ion-content>
  <div ng-controller="GroupAppointmentCtrl">
    <ion-content style="padding-top: 100px; z-index: 1" ng-controller="GroupCtrl">
      <div class="card" ng-repeat="entry in viewData" >
        <!--<a  href="#/app/home/groupappointment/{{entry.id}}" style="text-decoration: none">-->
          <div class="item item-divider">
            {{ entry.name }}
          </div>
          <div class="item item-text-wrap">
            {{ entry.description }}
          </div>
        <!--</a>-->
      </div>
  </div>
  </ion-content>
</ion-view>

