<ion-modal-view ng-init="signin = false">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content ng-controller="MainLoginCtrl">
   <div signin-directive informations="credentials" ></div signin-directive>
  <form >
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="credentials.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="credentials.password">
      </label>
      <label ng-if="!signin" class="item">
        <button class="button button-block button-positive" ng-click="login()">Log in</button>
      </label>
      <!-- sign in part -->
      <div ng-if="signin">
        <label  class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="credentials.email">
        </label>
        <label  class="item item-input">
          <span class="input-label">Forname</span>
          <input type="text" ng-model="credentials.forname">
        </label>
        <label class="item item-input">
          <span class="input-label">Surname</span>
          <input type="text" ng-model="credentials.surname">
        </label>
        <label  class="item item-input">
          <span class="input-label">Handy</span>
          <input type="text" ng-model="credentials.mobilephone">
        </label>
        <label class="item" ng-controller="AddUserCtrl">
          <button class="button button-block button-positive" ng-click="signUp()">Sign up</button>
        </label>
      </div>
      <div ></div>
      <div class="row" >
        <div class="col col-25 col-offset-75">
        <button ng-hide="signin" class="button button-clear button-positive" ng-click="signin = !signin">
          Sign Up?
        </button>
        <button ng-hide="!signin" class="button button-clear button-positive" ng-click="signin = !signin">
          Login?
        </button>
        </div>
      </div>
    </div>
  </form>
    <div ng-controller="LoginController"></div>
    <div ng-controller="SigninController"></div>
  </ion-content>
</ion-modal-view>
